<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sicita">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiCita">
        <activity
            android:name=".Horarios"
            android:exported="false" />
        <activity
            android:name=".Splash2"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".Historia"
            android:exported="false" />
        <activity
            android:name=".Cita"
            android:exported="false" />
        <activity
            android:name=".CitaBuscar"
            android:exported="false" />
        <activity
            android:name=".Vehiculo"
            android:exported="false" />
        <activity
            android:name=".EmpresaUsuario"
            android:exported="false" />
        <activity
            android:name=".LoginUsuario"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MaestroCita"
            android:exported="false" />
        <activity
            android:name=".Asesor"
            android:exported="false" />
        <activity
            android:name=".MarcaModelo"
            android:exported="false" />
        <activity
            android:name=".Sede"
            android:exported="false" />
        <activity
            android:name=".LoginAdmin"
            android:exported="false" />
        <activity
            android:name=".Empresa"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>